@model IEnumerable<CollectionsWebApp.Models.Collection>

@{
    ViewData["Title"] = "All Collections";
}

<h1>All Collections</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Raw(Markdig.Markdown.ToHtml(item.Description))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
        </tr>
}
    </tbody>
</table>
