@model IEnumerable<CollectionsWebApp.Models.Collection>

@{
    ViewData["Title"] = "My Collections";
}

<h1>My Collections</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr> <a asp-action="Details" asp-route-id="@item.CollectionId">
            <td>
                @Html.DisplayFor(modelItem => item.Name) 
            </td>
            <td>
                @Html.Raw(Markdig.Markdown.ToHtml(item.Description))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="CreateItem" asp-route-id="@item.CollectionId">Add item</a> |
                <a asp-action="Edit" asp-route-id="@item.CollectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CollectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CollectionId">Delete</a>
            </td>
            </a>
        </tr>
}
    </tbody>
</table>
