@model CollectionsWebApp.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalInt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalInt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalInt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalInt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalInt3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalInt3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalString1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalString1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalString2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalString2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalString3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalString3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalMultiLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalMultiLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalMultiLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalMultiLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalMultiLine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalMultiLine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalCheckBox1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalCheckBox1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalCheckBox2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalCheckBox2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalCheckBox3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalCheckBox3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalDate1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalDate1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalDate2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalDate2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalDate3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalDate3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
