@model IEnumerable<CollectionsWebApp.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalInt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalInt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalInt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalString1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalString2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalString3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalMultiLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalMultiLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalMultiLine3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalCheckBox1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalCheckBox2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalCheckBox3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalDate1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalDate2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionalDate3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalInt1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalInt2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalInt3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalString1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalString2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalString3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalMultiLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalMultiLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalMultiLine3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalCheckBox1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalCheckBox2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalCheckBox3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalDate1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalDate2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptionalDate3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
